---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { Accordion, AccordionItem } from 'accessible-astro-components'
import '~/assets/styles/fundOperations.scss';
import { Icon } from 'astro-icon';

const meta = {
  title: "Fund Operations",
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero2
    title="Get in on the ground floor."
    subtitle="Ten X Labs provides Angel and pre-Seed financing coupled with a unique operational approach that improves business returns without the typical risk of very early stage investing. This means both the investors and the Founders have an opportunity to realize outsized economic returns, relative to the risk."
    bannerClass="hero-fund-operations"
  />

  <!-- Page content ******************** -->
  <section class="fund-operations second-level relative">
    <div class="second-level--content relative px-4 py-4 md:py-10 mx-auto max-w-8xl md:px-8 lg:py-14 lg:px-10 xl:px-8">
      <!-- Start page content -->
      <div class="second-level--content-section pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>Investment</h3>
          <h2>The Fund</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Ten X Labs is raising a $50 million Angel and pre-Seed fund that differentiates itself by creating deep, trusting bonds with first-time Founders before they’re even ready for investment. We combine this trust with expertise and capital to get in on the ground floor, building a portfolio of minority-led, Seed-ready companies. We work exclusively with first-time Founders of color, a rich pool of untapped talent that has been historically overlooked and underfunded.</p>
          <p>We lead the initial rounds and provide up to 100% of the Angel and pre-Seed funding for these startups, and we participate in our portfolio companies’ Seed rounds (although these will be led by outside firms).</p>

          <Accordion>
            <AccordionItem
              header="Angel investment"
            >
              <p>This is typically a $150,000 investment with pre-negotiated targets for key business KPIs, which would qualify the company for the Pre-Seed round. The expectation is the criteria would be hit within 6 months, and without further debt or equity. For the Angel investment, we utilize a Safe agreement. You can request a sample by contacting Ten X Labs.</p>
            </AccordionItem>
            <AccordionItem
              header="Pre-seed investment"
            >
              <p>If the Angel criteria are met, Ten X Labs’ pre-Seed investment of up to $650,000 establishes a class of Preferred stock, and the Safe agreement converts. At this time, Ten X Labs requires that an employee option pool be set up and also takes a seat on the Company’s Board. We expect this tranche of funding to last until a Seed round without additional debt or equity raised.</p>
            </AccordionItem>
            <AccordionItem
              header="Seed investment"
            >
              <p>The Seed investment terms will be established by a third party. It’s not the intention of Ten X Labs to lead this round, but we expect to participate for our pro-rata share. While we won’t be leading this round, our networks and relationships put us in a position to make warm intros to larger funds who could be potential leads, many of which are specifically supporting minority-led businesses.</p>
            </AccordionItem>
          
            <!-- ... -->
          
          </Accordion>
        </div>
      </div>
      <!-- New content section -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>Expertise</h3>
          <h2>The Playbook</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Many Angel funds rely on the law of large numbers to hedge the execution risk of early stage investments. Ten X Labs takes the opposite approach: carefully selecting investments through extensive due diligence of both the company and its Founders, and then applying our high-touch operating system to maximize the probability of success for every single company. The Ten X Labs Playbook focuses on:</p>

          <Accordion>
            <AccordionItem
              header="Developing deep pre-investment ties to the Founders"
            >
              <p>We change the typical early-stage risk dynamic by indexing more on the quality of the Founders rather than the proven performance of the idea. Of course, we do the research about the problem being solved and develop a point of view on its value, but things like traction, product-market fit and a scalable business model can be extremely hard to nail down in the earliest stages of a company, and are subject to change over time. So instead, we focus on the passion, resilience and hustle of the Founders, which we’ve found to be a much more reliable predictor of long-term success when evaluating a company in its infancy.</p>
            </AccordionItem>
            <AccordionItem
              header="Pre-defined KPIs prior to every stage of investment"
            >
              <p>There are a great many details to starting a company. Many first-time Founders either get lost in those details, feeling they need to master everything on Day One, or they ignore them; both are paths to failure. Ten X Labs provides guidance to the Founder on what’s important and what’s not. Before each round of investment, Ten X Labs and the Founders agree on what needs to be “proved” next. We instantiate focus in the Founders execution model, and we give air cover for that focus. Ten X Founders become more confident in their leadership and communications. </p>
            </AccordionItem>
            <AccordionItem
              header="Connections to operating experts"
            >
              <p>We help plug in the “back office” expertise where needed, allowing the Founder to focus on their idea, and how to monetize it. And we give them the confidence to tell people what they are and should be focused on.</p>
              <p>Ten X Labs has an established set of relationships with lawyers, banks, accountants, development and design shops. All know the 10X Playbook and are available at pre-negotiated, advantaged rates, should the Founder desire.</p>
            </AccordionItem>
          
            <!-- ... -->
          
          </Accordion>
        </div>
      </div>
      <!-- New content section -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>People</h3>
          <h2>The Partners</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Ten X Labs is comprised of people who are adept at executing the financial and operational aspects of the Fund. Because this fund works exclusively with first-time Founders, we combine investment with expertise.</p>
          <Accordion>
            <AccordionItem
              header="General Partners"
            >
              <p>General Partners Chip Davis and Phil Gilbert have been working together for over 20 years. Chip has a long history in venture capital as General Partner of Houston Ventures (HV). HV was one of the first VCs in Houston. Chip is a CPA in the Commonwealth of Virginia, holds Series 7 and 63 licenses and has advised dozens of early-stage tech companies over the past 30 years. Phil is from the operational side, having founded his own startup in 1984, and serving as CTO and President of two others. He spent the past decade as one of the senior executives at IBM, which had acquired Phil’s third startup in 2010.</p>
            </AccordionItem>
            <AccordionItem
              header="Operating Partners"
            >
              <p>Ten X Labs Operating Partners are all previous or current Founders, some of who have come through the Ten X Labs program. They are the “feet on the ground” with each of our Fund’s founders. They spend weekly time with each new founder and at the pre-Seed round stage, they take the Fund’s Board seat. This approach not only keeps the Ten X Labs Playbook front and center, but also accelerates the trust needed by everyone on the team in early-stage startups.</p>
            </AccordionItem>
            <AccordionItem
              header="Service Partners"
            >
              <p>Ten X Labs has an established network of service partners including lawyers, accountants, design and development firms and other service providers that can handle tasks if the Founders don’t already have those relationships. In each case, the Service Partner knows the Ten X Labs principals and Playbook, and so can slot into service without friction and at favorable, pre-negotiated rates.</p>
            </AccordionItem>
          
            <!-- ... -->
          
          </Accordion>
        </div>
      </div>
      <!-- New content section -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h2>If You’re a Prospective Founder</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Ten X Labs is constantly looking for passionate, resilient and visionary Founders. We’d love for you to contact us if you have the desire to become a Ten X Labs Founder.</p>
          <p>The projects where we can add the most value look like this:</p>
          <ul class="list list-disc">
            <li>Multiple co-Founders</li>
            <li>Technology-related product or service</li>
            <li>Some form of the product or service is in use, even if no revenues (most will have no revenues at this point)</li>
            <li>Clear point of view on who the buying customer/user is</li>
            <li>Some idea of how you expect to monetize the offering</li>
          </ul>
          <p>Prior to investing, we evaluate Founders for a six-week “course” where Ten X Labs Partners and the Founders spend significant time working on your product, product/market fit, the business model and the team you need to win. For those Founders who are selected, there is no cost and you will walk away with a pitch-ready deck and the potential for further 10X investment.</p>
          <a class="btn btn-primary mt-8" href="https://bit.ly/10XFoundersApplication">
            Apply to become a 10X Founder <Icon name="ic:outline-keyboard-arrow-right" />
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  import '~/scripts/accordion.js';
  import '~/scripts/headerActive.js';
</script>